# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

1) Game of Thrones

2) Dexter

3) Fixer Upper

4) The Masked Singer

5) Making the Cut

6) Sopranos

7) Mandalorian

8) Seinfeld

9) Miraculous

10) Buffy the Vampire Slayer

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [8]:
import pandas as pd
import sqlite3 as sl

df = pd.read_csv('tv_shows.csv',index_col=[0])
df.rename(columns={'Rotten Tomatoes':'Rotten_Tomatoes','Prime Video':'Prime_Video','Disney+':'Disney_Plus'}, inplace=True)

In [9]:
df

,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [37]:
df

ID                  int64
Title              object
Year                int64
Age                object
IMDb               object
Rotten_Tomatoes    object
Netflix             int64
Hulu                int64
Prime_Video         int64
Disney_Plus         int64
Type                int64
dtype: object

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [136]:
con = sl.connect('tv.db')

with con:
    con.execute("""
        CREATE TABLE show (
            ID INT,
            Title TEXT,
            Year INT,
            Age TEXT,
            IMDB TEXT,
            Rotten_Tomatoes TEXT,
            Netflix INT,
            Hulu INT,
            Prime_Video INT,
            Disney_Plus INT,
            Type INT
        );
    """)

In [133]:
df.to_sql('show', con)

In [17]:
df.head()

,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [134]:
with con:
    data = con.execute("SELECT * FROM [show] LIMIT 20")
    for row in data:
        print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [77]:
with con:
    con.execute("""
        CREATE TABLE my_watchlist (
            ID INT,
            Title TEXT);""")

In [78]:
sql = 'INSERT INTO my_watchlist (ID, Title) values(?, ?)'
data = [
    (1,'Game of Thrones'),(2,'Dexter'),(3,'Fixer Upper'),(4,'The Masked Singer'),(5,'Making the Cut'),
    (6,'Sopranos'),(7,'Mandalorian'),(8,'Seinfeld'),(9,'Miraculous'),(10,'Buffy the Vampire Slayer')]

with con:
    con.executemany(sql, data)

In [80]:
with con:
    data = con.execute("SELECT * FROM my_watchlist")
    for row in data:
        print(row)

(1, 'Game of Thrones')
(2, 'Dexter')
(3, 'Fixer Upper')
(4, 'The Masked Singer')
(5, 'Making the Cut')
(6, 'Sopranos')
(7, 'Mandalorian')
(8, 'Seinfeld')
(9, 'Miraculous')
(10, 'Buffy the Vampire Slayer')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [107]:
df.sum(numeric_only=True)

ID             15110629
Year           10803791
Netflix            1971
Hulu               1621
Prime_Video        1831
Disney_Plus         351
Type               5368
dtype: int64

In [21]:
df.mean()

ID             2814.945790
Year           2012.628726
Netflix           0.367176
Hulu              0.301975
Prime_Video       0.341095
Disney_Plus       0.065387
Type              1.000000
dtype: float64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [79]:
# Shows that have a match on both tables
with con:
    data = con.execute("SELECT show.Title,IMDB,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type FROM my_watchlist JOIN show ON show.Title LIKE '%'||my_watchlist.Title||'%'")
    for row in data:
        print(row)

('Dexter', '8.6/10', '92/100', 0, 0, 1, 0, 1)
('Fixer Upper', '8.2/10', '64/100', 0, 1, 0, 0, 1)
('The Masked Singer', '6.0/10', '59/100', 0, 1, 0, 0, 1)
('Making the Cut', '6.6/10', '64/100', 0, 0, 1, 0, 1)
('The Mandalorian', '8.8/10', '94/100', 0, 0, 0, 1, 1)
('Disney Gallery / Star Wars: The Mandalorian', '8.4/10', '71/100', 0, 0, 0, 1, 1)
('Seinfeld', '8.8/10', '93/100', 0, 1, 0, 0, 1)
('Miraculous: Tales of Ladybug & Cat Noir', '7.7/10', '73/100', 1, 0, 0, 0, 1)
('Buffy the Vampire Slayer', '8.2/10', '86/100', 0, 1, 1, 0, 1)

In [121]:
# Shows that are not on the Kaggle dataset
with con:
    data = con.execute("SELECT my_watchlist.Title FROM my_watchlist LEFT JOIN show ON show.Title LIKE '%'||my_watchlist.Title||'%' WHERE show.Title IS NULL")
    for row in data:
        print(row)

('Game of Thrones',)
('Sopranos',)

In [108]:
# Creating new table - by joining the two tables where there is a match in Title
data = con.execute("CREATE TABLE joined_table AS SELECT show.Title,IMDB,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type FROM my_watchlist JOIN show ON show.Title LIKE '%' || my_watchlist.Title || '%' ")

In [111]:
with con:
    data = con.execute("SELECT * FROM joined_table")
    for row in data:
        print(row)

('Dexter', '8.6/10', '92/100', 0, 0, 1, 0, 1)
('Fixer Upper', '8.2/10', '64/100', 0, 1, 0, 0, 1)
('The Masked Singer', '6.0/10', '59/100', 0, 1, 0, 0, 1)
('Making the Cut', '6.6/10', '64/100', 0, 0, 1, 0, 1)
('The Mandalorian', '8.8/10', '94/100', 0, 0, 0, 1, 1)
('Disney Gallery / Star Wars: The Mandalorian', '8.4/10', '71/100', 0, 0, 0, 1, 1)
('Seinfeld', '8.8/10', '93/100', 0, 1, 0, 0, 1)
('Miraculous: Tales of Ladybug & Cat Noir', '7.7/10', '73/100', 1, 0, 0, 0, 1)
('Buffy the Vampire Slayer', '8.2/10', '86/100', 0, 1, 1, 0, 1)

In [109]:
# Finding percentage of my watchlist shows that are on each streaming service 

with con:
    data = con.execute("SELECT AVG(Netflix),AVG(Hulu),AVG(Prime_Video),AVG(Disney_Plus),SUM(Type) FROM joined_table")
    for row in data:
        print(row)

(0.1111111111111111, 0.4444444444444444, 0.3333333333333333, 0.2222222222222222, 9)

In [110]:
# Counting how many of my watchlist shows are on each streaming service

with con:
    data = con.execute("SELECT SUM(Netflix),SUM(Hulu),SUM(Prime_Video),SUM(Disney_Plus) FROM joined_table")
    for row in data:
        print(row)

(1, 4, 3, 2)

## Results


**1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?**

Game of Thrones and The Sopranos were not in the dataset. At first I thought it was because one was too recent and the other was too old but there were other shows in the Kaggle dataset that also came out around the same time. I'm not too sure why it wasn't on the list.

**2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?**

Yes, I knew Mandalorian would be exclusive to Disney. This would impact by creating more titles on only one platform.

**3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?**

Hulu offered the most shows (4) on my watchlist and Netflix offered the least (1).

**4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?**

I think Prime Video would be a better fit for me - although Hulu offers more shows from my list, it's not a huge difference from Prime and I don't like how Hulu shows ads even with a paid subscription. Also, I don't know when this dataset was last updated. I currently have Netflix and I know it offers 'Seinfeld' but the dataset shows that it's only available on Hulu (which it's not).